<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<link rel="stylesheet" th:href="@{C:/eclipse/workspace/spring-pos/src/main/resources/static/css/bootstrap.css}"/>
<link rel="stylesheet" th:href="@{C:/eclipse/workspace/spring-pos/src/main/resources/static/css/bootstrap.min.css}"/>
<link rel="stylesheet" th:href="@{C:/eclipse/workspace/spring-pos/src/main/resources/static/css/bootstrap-theme.min.css}"/>
<link rel="stylesheet" th:href="@{C:/eclipse/workspace/spring-pos/src/main/resources/static/css/index.css}"/>
<link rel="stylesheet" th:href="@{C:/eclipse/workspace/spring-pos/src/main/resources/static/css/forms.css}"/>
<title>Cadastro de Fabricante</title>
</head>
<body>
  <script th:src="@{C:/eclipse/workspace/spring-pos/src/main/resources/static/js/jquery-2.1.4.min.js}"></script>
  <script th:src="@{C:/eclipse/workspace/spring-pos/src/main/resources/static/js/bootstrap.min.js}"></script>
 <div th:include="header :: menubar"></div>
    <h1>Cadastro de Fabricante</h1>
    <form action="/fabricante" method="POST" th:object="${fabricante}">
    <!--<div th:if="${#fields.hasAnyErrors()}">
        <div th:each="detailedError : ${#fields.detailedErrors()}">
        <span th:text="${detailedError.message}"></span>
        </div>
    </div>
    <div th:if="${!#strings.isEmpty(mensagem)}">
        <span th:text="${mensagem}"></span>
    </div>-->
    
    <br/>
    	<input type="hidden" th:field="*{id}"/>
    
        <label for="nome">Nome:</label>
        <input type="text" th:field="*{nome}"/>
        
        <label for="valor">Descrição:</label>
        <input type="text" th:field="*{descricao}"/>
        
        <button type="submit">Salvar</button>
    </form>
    <br/>
    <br/>
    <!--<a th:href="@{/produtos}">Listar Produtos</a>-->
</body>
</html>