<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layoutPadrao">
<head>
<meta charset="UTF-8" />

<title>Cadastro de carro</title>
</head>
<section layout:fragment="conteudo">
	<div class="container">
		<h1 style="color: rgb(101, 155, 242); margin-left: 2%;">Cadastro
			de Carro</h1>
		<div class="container">

			<!-- <a th:href="@{/produtos}" >Lista produtos</a> -->

			<br />

			<form class="container" action="/carros" method="POST"
				th:object="${carro}">

				<div class="alert alert-danger" role="alert"
					th:if="${#fields.hasAnyErrors()}">
					<div th:each="detailedError : ${#fields.detailedErrors()}">
						<span th:text="${detailedError.message}"></span>
					</div>
				</div>

				<div class="alert alert-success" role="alert"
					th:if="${!#strings.isEmpty(mensagem)}">
					<span th:text="${mensagem}"></span>
				</div>

				<br /> <input type="hidden" th:field="*{id}" />

				<div class="form-group">
					<label for="nome">Placa:</label> <input class="form-control"
						type="text" th:field="*{placa}" />
				</div>

				<div class="form-group">
					<label for="valor">Chassi:</label> <input class="form-control"
						type="text" th:field="*{chassi}" />
				</div>

				<div class="form-group">
					<label for="valor">Valor Diária:</label> <input
						class="form-control" type="text" th:field="*{valorDaDiaria}" />
				</div>

				<div class="form-group">
					<label style="width: 10%;" for="modelo">Modelo</label> <select
						style="width: 30%;" class="custom-select" th:field="*{modelo}">
						<option th:each="modelo : ${todosModelos}"
							th:text="${modelo.descricao}" th:value="${modelo.id}"></option>
					</select>
				</div>
				<br />
				<button style="width: 10%;" class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-ok"></span>Salvar</button>
				<a style="width: 10%;" class="btn btn-primary" th:href="@{/carros}"><span class="glyphicon glyphicon-list"></span>Carros</a>
			</form>
		</div>
	</div>
</section>
</html>