<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layoutPadrao">
<head>
<meta charset="UTF-8" />
<script type="text/javascript"
	src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.js"></script>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" />
<script type="text/javascript"
	src="/locales/bootstrap-datepicker.pt-BR.min.js"></script>
<script>
	$(document).ready(function() {
		$('.datepicker').datepicker({
			format : 'dd/mm/yyyy',
			language : 'pt-BR',
			autoclose : true
		});
	});
</script>
<title>Cadastro de Locações</title>
</head>
<section layout:fragment="conteudo">
	<div class="container">
		<h1 style="color: rgb(101, 155, 242); margin-left: 2%;">Cadastro
			de Locações</h1>
		<div class="container">

			<br />

			<form class="container" action="/locacoes" method="POST"
				th:object="${locacao}">

				<div class="alert alert-danger" role="alert"
					th:if="${#fields.hasAnyErrors()}">
					<div th:each="detailedError : ${#fields.detailedErrors()}">
						<span th:text="${detailedError.message}"></span>
					</div>
				</div>

				<div class="alert alert-success" role="alert"
					th:if="${!#strings.isEmpty(mensagem)}">
					<span th:text="${mensagem}"></span>
				</div>

				<br /> <input type="hidden" th:field="*{id}" />

				<div class="form-group">
					<label for="nome">Data de Locação:</label> <input
						class="form-control datepicker" type="text"
						th:field="*{dataLocacao}" />
				</div>

				<div class="form-group">
					<label for="valor">Data de Devolução:</label> <input
						class="form-control datepicker" type="text"
						th:field="*{dataDevolucao}" />
				</div>

				<!-- 				<div class="form-group"> -->
				<!-- 					<label for="valor">Valor total:</label> <input class="form-control" -->
				<!-- 						type="text" th:field="*{valorTotal}" /> -->
				<!-- 				</div> -->

				<div class="form-group">
					<label style="width: 10%;" for="motorista">Motorista:</label> <select
						style="width: 30%;" class="custom-select" th:field="*{motorista}">
						<option th:each="motorista : ${todosMotoristas}"
							th:text="'Nome:'+${motorista.nome}+'  - CPF:'+${motorista.cpf}"
							th:value="${motorista.id}"></option>
					</select>
				</div>

				<div class="form-group">
					<label style="width: 10%;" for="carro">Carro:</label> <select
						style="width: 30%;" class="custom-select" th:field="*{carro}">
						<option th:each="carro : ${todosCarros}"
							th:text="${'Modelo:'+carro.modelo.descricao}+'  - Placa:'+${carro.placa}+'  - Diária:R$'+${{carro.valorDaDiaria}}"
							th:value="${carro.id}"></option>
					</select>
				</div>
				<br />
				<button style="width: 10%;" class="btn btn-primary" type="submit">
					<span class="glyphicon glyphicon-ok"></span>Salvar
				</button>
				<a style="width: 10%;" class="btn btn-primary"
					th:href="@{/locacoes}"><span class="glyphicon glyphicon-list"></span>Locações</a>
			</form>
		</div>
	</div>
</section>
</html>