<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<div th:fragment="header">
	<ul class="nav nav-pills">
		<li role="presentation" class="active"><a href="/">Home</a></li>
		<li role="presentation" class="glyphicons glyphicons-plus-sign"><a
			th:href="@{/locacoes/novo}">Locação</a></li>
		<li role="presentation" class="dropdown"><a
			class="dropdown-toggle" data-toggle="dropdown" href="#" role="button"
			aria-haspopup="true" aria-expanded="false"> Cadastrar </a>
			<ul class="dropdown-menu">
				<li><a th:href="@{/carros/novo}">Carro</a></li>
				<li><a th:href="@{/modelos/novo}">Modelo</a></li>
				<li><a th:href="@{/fabricantes/novo}">Fabricante</a></li>
				<li role="separator" class="divider"></li>
				<li><a th:href="@{/motoristas/novo}">Motorista</a></li>
			</ul></li>
		<li role="presentation" class="dropdown"><a
			class="dropdown-toggle" data-toggle="dropdown" href="#" role="button"
			aria-haspopup="true" aria-expanded="false"> Listar </a>
			<ul class="dropdown-menu">
				<li><a th:href="@{/locacoes}">Locações</a></li>
				<li role="separator" class="divider"></li>
				<li><a th:href="@{/carros}">Carros</a></li>
				<li><a th:href="@{/modelos}">Modelos</a></li>
				<li><a th:href="@{/fabricantes}">Fabricantes</a></li>
				<li role="separator" class="divider"></li>
				<li><a th:href="@{/motoristas}">Motoristas</a></li>
			</ul></li>
	</ul>
</div>
</html>