<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layoutPadrao">
<head>
<meta charset="UTF-8" />
<title>Lista de Modelos</title>
</head>
<section layout:fragment="conteudo">
<div class="container">
		<h1 style="color: rgb(101, 155, 242); margin-left: 2%;">Lista de
			modelos</h1>

		<div class="container">
			<br />
			<div class="alert alert-success" role="alert"
				th:if="${!#strings.isEmpty(sucesso)}">
				<span th:text="${sucesso}"></span>
			</div>
			<div class="alert alert-danger" role="alert"
				th:if="${!#strings.isEmpty(falha)}">
				<span th:text="${falha}"></span>
			</div>
			<div class="table-responsive">
				<table class="table table-striped table-bordered table-hover">
					<thead>
						<tr>
							<th>Id</th>
							<th>Descrição</th>
							<th>Categoria</th>
							<th>Fabricante</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="modelo : ${modelos}">
							<td th:text="${modelo.id}"></td>
							<td th:text="${modelo.descricao}"></td>
							<td th:text="${modelo.categoria}"></td>
							<td th:text="${modelo.fabricante.nome}"></td>
							<td align="center"><a class="btn btn-primary"
								th:href="@{/modelos/editar/{id}(id=${modelo.id})}">Editar</a>
								<a class="btn btn-danger"
								th:href="@{/modelos/excluir/{id}(id=${modelo.id})}">Excluir</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<a style="width: 20%;" class="btn btn-primary" th:href="@{/modelos/novo}"><span class="glyphicon glyphicon-plus-sign"></span>Novo Modelo</a>
		</div>
		</div>
</section>
</html>